<header class="header">
  <h1>Manghissimo</h1>
  <div class="spacer"></div>
  <div class="auth">
    <button *ngIf="!user" (click)="logIn()">login</button>
    <button *ngIf="user" (click)="logOut()">logout</button>
    <div *ngIf="user" class="user-info">
      <img class="user-img" src="{{user.photoURL}}" alt="">
      <div class="user-data">
        <span>{{user.displayName}}</span>
        <span>{{user.email}}</span>
      </div>
    </div>
  </div>
  <nav>
    <a href="">HOME</a>
    <a *ngIf="user" href="">USER</a>
  </nav>
</header>
