.header{
  display: flex;
  align-items: center;
  background-color: crimson;
  color: white;
  padding: 16px;
}

.spacer{
  flex-grow: 1;
}

.auth{
  display: flex;
  align-items: center;
}

.user-info{
  display: flex;
}

.user-data{
  display: flex;
  flex-direction: column;
}

.user-img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
